[Unit]
Description=Blackbox exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/blackbox_exporter/blackbox_exporter

[Install]
WantedBy=multi-user.target
